:root {
  --white: #ffffff;
  --lightgray: lightgray;
  --pink: #ef5f9a;
  --main-blue: #029cc0;
  --td-blue: #88c8ee;
  --td-calendar-lightgray: #e9e6f0;
  --dark-blue: #472ee8;
  --yellow: #f0db0a;
  --red: #db3f17;
  --dark-pink: #e80e52;
}
